.header-container{
    height: 50px;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.welcome-msg{
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.notification{
    padding-left: 3%;
    padding-right: 2%;
}

.profile{
    padding-left: 3%;
    display: flex;
    flex-direction: row;
}

